/* Bullets */
.roam-block-container > div > div:nth-child(1)
> .controls > .rm-bullet .rm-bullet__inner  {
  /*border-radius: 50%;*/
  width: 3px;
  height: 3px;
  background-color: #9E9E9E;
}
.roam-bullet-closed { 
    background-color:  #CECBDB;
}

/* Eksperiment fra CatoMinor3: (aktiv bullet blir rød og firkantet)*/
.roam-block-container:focus-within > div > div:nth-child(1)
> .controls > .rm-bullet .rm-bullet__inner {
   background-color: rgb(196,150,150);
  width: 8px;
  height: 3px;
  border-radius: 0px;
  transition: width 300ms linear, height 300ms linear, border-radius 300ms linear;
}
